@import "../../../global/styles.scss"; /* Import global styles */
@import "../../../global/base.scss"; /* Import custom variables */

/* Styling for the UI button */
.ui-button {
  border: none;
  border-radius: $border-radius;
  transition: all $transition-speed ease-in-out;
  cursor: pointer;
  font-family: $font-family;
  background-color: $background-color;
  color: $text-color;

  &.small {
    padding: $spacing-unit $spacing-unit*2; /* Using SCSS variable for multiplication */
    font-size: 0.875rem;
  }

  &.medium {
    padding: $spacing-unit $spacing-unit*2.5;
    font-size: 1rem;
  }

  &.large {
    padding: $spacing-unit*1.5 $spacing-unit*3;
    font-size: 1.125rem;
  }

  &.primary {
    background-color: $primary-color;
    color: white;

    &:hover {
      background: darken($primary-color, 10%);
    }
  }

  &.secondary {
    background-color: $secondary-color;
    color: white;

    &:hover {
      background: darken($secondary-color, 10%);
    }
  }

  &.accent {
    background-color: $accent-color;
    color: white;

    &:hover {
      background: darken($accent-color, 10%);
    }
  }

  &.danger {
    background-color: $danger-color;
    color: white;

    &:hover {
      background: darken($danger-color, 10%);
    }
  }

  &.disabled {
    background-color: #d1d5db;
    color: #9ca3af;
    cursor: not-allowed;
    &:hover {
      background: darken(#d1d5db, 0%);
    }
  }


  
}
